<div class="container-fluid">
    <div class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="">ГЛАВНАЯ</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="">СТУДЕНТ</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/employer">РАБОТОДАТЕЛЬ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin">АДМИНИСТРАТОР</a>
            </li>
            <router-outlet></router-outlet>
        </ul>
        <p class="h3 mb-3">
            Центр Карьеры. Первые шаги в построении успешной карьеры!
        </p>
        <p>
            Мы проводим на работе значительную часть нашей жизни. Именно поэтому очень важно, чтобы работа доставляла
            нам удовольствие. Очень важно найти именно такую работу, чтобы мы могли быть довольны собой и окружающей
            действительностью! Главное - не сидеть сложа руки, а искать!
            Именно для того, чтобы облегчить Вам поиски, и помочь в выборе правильного пути, для Вас работает Центр
            Карьеры. Любой студент, обратившийся в Центр Карьеры имеет возможность:
        </p>
        <ul>
            <li>получить информацию о имеющихся на рынке труда вакансиях, местах практик</li>
            <li>получить квалифицированную помощь в составлении резюме и других презентационных документов</li>
            <li>получить информацию о проводимых в университете мероприятиях с участием работодателей</li>
            <li>разместить свое резюме в базе данных Центра</li>
        </ul>
        <p class="h4 mb-3">
            Стратегия поиска работы. Рекомендации для тех, кто хочет добиться успеха в поиске работы.
        </p>
        <p>
            Поиск новой работы - это тоже работа. И ее успех зависит от того, насколько правильно эту работу делать, и
            сколько сил и времени на это затрачивать.
        </p>
        <ol>
            <li>Прежде всего необходимо поставить перед собой определенную и реальную цель. Определив для себя какую
                работу вы ищете, объясните это всем вокруг. Чем больше людей будут вам помогать, тем лучше.</li>
            <li>Поиски работы необходимо вести системно (а не от случая к случаю). Большинство вакансий никак не
                рекламируются, но это не значит что вы не можете на них претендовать. Составьте список необходимых
                действий, записывайте и анализируйте все свои успешные и неудачные действия.</li>
            <li>Ищите работу интенсивно. То, как вы занимаетесь поиском работы, является для большинства работодателей
                показателем Вашего отношения к самой работе.</li>
            <li>Не спешите отказываться от должности, которую вам предложили вместо ожидаемой. Подумайте о перспективе
                этого предложения.</li>
            <li>Следите за собой все время. Будьте опрятны, хорошо одеты, не забывайте о хороших манерах везде - где бы
                вы не находились.</li>
            <li>Постоянно продолжайте поиски работы. Не прерывайте поисков если вы получили всего лишь обнадеживающее
                обещание возможного получения работы.</li>
            <li>Не бойтесь обращаться в небольшие организации, где работает менее 20 сотрудников. Именно там чаще всего
                открываются новые вакансии.</li>
            <li>Планируйте ваши поиски работы, так чтобы все встречи, назначенные на день, проходили по возможности в
                одном районе.</li>
            <li>Не надо чуждаться временной работы.</li>
            <li>Проявляйте мягкую настойчивость, напоминая о себе через некоторое время и справляйтесь, не изменилась ли
                к лучшему ситуация с приемом на работу.</li>
        </ol>
    </div>
</div>